html, body{
	margin: 0;
	padding: 0;
}

body{
	background: transparent url(images/b_backblur.jpg) no-repeat fixed center center;
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media screen and (max-width: 1920px){
    body{
        background-image: url(images/m_backblur.jpg);
    }
}

@media screen and (max-width: 1500px){
    body{
        background-image: url(images/s_backblur.jpg);
    }
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #22314c;
    background-size: cover !important;
    opacity: 0.6;
}

#all{
	margin: 0 auto;
	width: 1024px;
	background: #ffffff;
	box-shadow: 80px 0 80px -4px rgba(9, 26, 65, 0.9),
                -80px 0 80px -4px rgba(9, 26, 65, 0.9);

}

/*
*	HEADER
*/

#logo_block{
	display: relative;
	text-align: center;
	line-height: 519px;
	height: 519px;
	background: url(images/top_back.jpg);
}

#logo_block img{
	vertical-align: middle;
}

#logo_block div#speach{
	line-height: 30px;
	position: absolute;
	top: 430px;
	left: 30%;
	font-family: "Courier New";
	font-size: 27px;
	color: #CFCFCF;
}

#logo_block div#social_networks{
	width: 170px;
	line-height: normal;
	position: absolute;
	top: 20px;
	left: 1200px;
}
#logo_block div#social_networks a img{
	margin: 3px;
}

/*slider*/

#slider_block{
	position: relative;
	height: 326px;
}

.img_block{
	height: 326px;
	position: absolute;
}

.main{
	width: 598px;
	left: 50%;
	margin-left: -299px;
}

#main2{
	display: none;
}

.minor1{
	left: 0;
}

.minor2{
	right: 0;
}

#minor2{
	display: none;
}

#minor4{
	display: none;
}


.darkness{
	width: 213px;
	height: 326px;
	top: 0;
	position: absolute;
	background: #3d3c5e;
	opacity: 0.5;
	z-index: 10;
}

#left_darkness{
	left: 0;
}

#rigth_darkness{
	right: 0;
}

.darkness img{
	margin-top: 25px;
}

.darkness img#d_right{
	margin-left: 5px;
}

/*
* Middle
*/

/*Coach*/

#middle{
	background: #ece7f7;
	padding: 0 40px 40px;
	color: #02012a;
}

#coach{
	height: 250px;
	line-height: 250px;
	position: relative;
}

#coach img#ks{
	vertical-align: middle;
	margin-left: 460px;
}

#coach .word_line{
	top: 120px;
	left: 110px;
	line-height: normal;
	position: absolute;
	font-family: "Courier New";
	font-size: 35px;
}

#coach .word_line div{
	margin-left: 40px;
}

/*Info*/

#info:after{
	clear: both;
    content: "";
    display: block;
}

/*News*/

#news{
	float: left;
	width: 200px;
	font-family: "Courier New";
}

#news_header{
	line-height: 60px;
	border-radius: 6px 6px 0 0;
	background: #fda671;
	text-align: center;
	font-size: 35px;
}

#news_item{
	padding: 15px;
	background: #ffffff;
	border-radius: 0 0 6px 6px;
}

.new_date{
	margin-left: 3px;
	margin-bottom: -11px; 
	font-size: 17px;
}

.new_item{
	margin-bottom: 20px;
}

/*Text*/

#text{
	width: 480px;
	padding: 25px;
	border-radius: 6px 6px 6px 6px;
	font-family: "Courier New";
	font-size: 25px;
	margin-left: 230px;
	background: #d3d1e3;
}

/*Menu*/

#menu{
	float: right;
}

ul.nav-menu{
	list-style-type: none;
	margin: 0;
}

ul.nav-menu :last-child{
	margin-bottom: 0;
}

ul.nav-menu li{
	margin: 0 0 26px;
	text-align: center;
	font-family: "Courier New";
	font-size: 25px;
	font-weight: bold;
	border-radius: 6px 6px 6px 6px;
}

ul.nav-menu li a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 10px 35px;
}

.page_item_1{
	background: #de3c7c;
}

.page_item_2{
	background: #fa9e66;	
}

.page_item_3{
	background: #b461ee;	
}

.page_item_4{
	background: #a5d375;	
}

.page_item_5{
	background: #448b96;	
}

/*Halls*/

#halls{
	height: 445px;
	line-height: 250px;
	position: relative;
}

#halls .word_line{
	top: 55px;
	left: 110px;
	line-height: normal;
	position: absolute;
	font-family: "Courier New";
	font-size: 35px;
}

#halls .word_line div{
	margin-left: 70px;
}

#halls #photos{
	position: absolute;
	top: 170px;
	left: 110px;
}

#halls #photos img{
	margin-right: 47px;
}

#halls #word_line_contacts{
	top: 375px;
	left: 110px;
	line-height: normal;
	position: absolute;
	font-family: "Courier New";
	font-size: 35px;
}

#halls #word_line_contacts div{
	margin-left: 17px;
}

/*
* Location
*/

#location{
	position: relative;
	height: 319px;
	background: url(images/bottom_back.jpg);
	color: white;
}

#location .word_line{
	position: absolute;
	font-family: "Courier New";
	font-size: 34px;
}

#location #word_line_south{
	top: 40px;
	left: 110px;
}

#location #word_line_south div{
	margin-left: 10px;
	margin-bottom: -10px;
}

#location .map{
	position: absolute;
	border-radius: 5px;
}

#location #map1{
	top: 110px;
	left: 120px;
}

#location #word_line_shevch{
	top: 220px;
	right: 80px;
}

#location #word_line_shevch div{
	text-align: center;
	margin-bottom: -10px;
}

#location #map2{
	top: 30px;
	right: 90px;
}

/*Blue Block*/

#blue_block{
	height: 32px;
	background: #373f58;
}

/*Contacts*/

#contacts{
	height: 105px;
	background: #1e2b42;
	color: #c6ced8;
}

#contacts img{
	float: left;
	margin: 30px 25px 30px 200px;
}

#contacts div{
	line-height: 28px;
	font-family: "Courier New";
}

#contacts #phones{
	float: left;
	font-weight: bold;
	padding-top: 26px;
	font-size: 23px;
}

#contacts #name{
	font-size: 35px;
	padding-top: 38px;
	padding-left: 580px;
}
